.productListing {
    margin: 0 100px 120px 100px;
}

.productListingPage {
    margin: 0 100px 140px 28px;
}

#productMain {
    display: grid;

    .productTitles {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        p {
            margin: 0;
            font-weight: 700;
            font-size: 24px;
            letter-spacing: 0.75px;
            color: var(--darkGray2);
        }

        a {
            font-weight: 400;
            font-size: 18px;
            letter-spacing: 0.75px;
            color: var(--primary);
            text-decoration: none;
        }
    }
    
    .productRender {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}