.filter-group {
    background-color: white;
    width: 308px;
    height: auto;
    padding: 30px;
    border: 25px #FFFFFF;
    margin-left: 100px;
    border-radius: 4px;
  }
  
  .filter-title {
    font-size: 16px;
    color: #474747;
    margin-bottom: 16px;
    line-height: 24px;
    letter-spacing: 0.75px;
  }
  
  hr {
    border: none;
    border-top: 1px solid #474747;
    margin: auto;
    width: 248px;
    margin-bottom: 20px;

    
  }
  
  label {
    position: relative;
    cursor: pointer;
  }
  
