.filter-group {
    background-color: white;
    width: 308px;
    padding: 16px;
    border: 1px solid #ccc;
  }
  
  .filter-title {
    font-size: 16px;
    color: #474747;
    margin-bottom: 16px;
    line-height: 24px;
    letter-spacing: 0.75px;
  }
  
  hr {
    border: none;
    border-top: 1px solid #ddd;
    margin-bottom: 20px;
  }
  
  label {
    position: relative;
    cursor: pointer;
  }
  
