@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.filter-component {
  margin-bottom: 20px;
}

.filter-title {
  font-size: 16px;
  font-weight: bold;
  color: #474747;
  margin-bottom: 10px;
  font-family: "Inter";
  font-size: 14px;
 
}

.filter-options {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  letter-spacing: 0.25px;
  font-weight: 500;
  line-height: 22px;
 
  
}

.filter-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #474747;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.filter-input {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
  appearance: none;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

input[type="checkbox"]:checked + label::before {
  background-color: #C92071;
  border-color: #C92071;
}

input[type="checkbox"]:checked {
  accent-color: #C92071;
}

input[type="radio"]:checked + label::before {
  background-color: #C92071;
  border-color: #C92071;
}

input[type="radio"]:checked {
  accent-color: #C92071;
}

