.carousel-container {
    position: relative;
  }
  
  .carousel-indicators {
    position: absolute;
    transform: translateX(0);
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  
  .indicator-btn {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: grey;
    border: none;
    cursor: pointer;
  }
  
  .indicator-btn.active {
    background-color: pink;
  }