.galleryPrincipal {
  width: 1440px;
  height: 681px;
  padding: 78px 37px 0 100px;
  background-color: var(--lightGray3);

  .galleryExtra {
    display: flex;
    justify-content: space-between;

    .galleryTexto {
      width: 37%;
      height: 352px;

      .melhoresOfertas {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.75px;
        color: var(--warning);
      }

      h1 {
        width: 512px;
        font-weight: 800;
        font-size: 64px;
        line-height: 66px;
        letter-spacing: 1px;
        color: var(--darkGray);
        margin-bottom: 20px;
      }

      .textoPenultimo {
        font-weight: 400;
        font-size: 18px;
        line-height: 34px;
        letter-spacing: 0.75px;
        color: var(--darkGray2);
        margin-bottom: 40px;
      }
    }

    .galleryImagem {

      img {
        width: 100%;
      }
    }
  }
}



a {
  button {
    background-color: var(--primary);
    width: 220px;
    height: 48px;
    border-radius: 4px;
    color: var(--white);
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: 1s;
  }

}






.carousel-container {
  position: relative;
}

a .carousel-control-next-icon,
.carousel-control-prev-icon {
  opacity: 0;
  background-color: black;
}

.carousel-control-prev,
.carousel-control-next {
  width: 100px;
}

.carousel-indicators {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 53px;
}

.indicator-btn {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--lightGray2);
  border: none;
  cursor: pointer;
}

.indicator-btn.active {
  background-color: var(--primary);
}