@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



.colecaodestaque{
 padding-top: 100px;
 background-color: white;
}

.colecaodestaque h1{
font-family: 'Inter';
color:#474747 ;
font-size: 24px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0.75px;
display: flex;
justify-content: center;

}

.botoes{
    display: flex;
    flex-direction: row;
   justify-content: center;
}


.botoes button{
    margin-top: 20px;
    padding-right: 48px;
    border: none;
    background: none;
    cursor: pointer;
   

}

.botoes button p{
    font-family: "Inter";
    color: #474747 ;
    margin-top: 12px;
    

}

.botoes button:hover {
    transform: scale(1.1);
}