* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#root {
    background-color: #f9f8fe;
}

:root {


    --primary: #C92071;
    --secondary: #B5B6F2;
    --tertiary: #991956;
    --error: #EE4266;
    --success: #52CA76;
    --warning: #F6AA1C;

    --darkGray: #1F1F1F;
    --darkGray2: #474747;
    --darkGray3: #666666;
    --lightGray: #8F8F8F;
    --lightGray2: #CCCCCC;
    --lightGray3: #F5F5F5;
    --white: #FFFFFF;
}

